body{
  font-family: sans-serif;
  background-color: #181818;
  margin: 0px;
}
::placeholder{
  color: #ababab;
}

div.loginform{
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

loginform{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.loginform .email{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  margin-top: 10px;
  color: white;
}
.loginform .tel{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  margin-top: 10px;
  color: white;
}
.loginform .street{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  margin-top: 10px;
  color: white;
}
.loginform .zip{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  margin-top: 10px;
  color: white;
}
.loginform .age{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  margin-top: 10px;
  color: white;
}
.loginform .institution{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  width: 270px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  margin-top: 10px;
  color: white;
}
.loginform .city{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  margin-top: 10px;
  color: white;
}
.loginform .name{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  color: white;
}
.loginform .pw{
  background-color: #212121;
  padding: 4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #eee;
  margin-top: 10px;
  color: white;
}
.loginform .formsubmit{
  margin-top: 18px;
  background-color: #212121;
  padding: 10px;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
}
.loginform .formsubmit:hover{
  background-color: #333333;
}
.loginform .txt-h1{
  color: white;
}
.loginform .txt-p1{
  color: white;
  margin-bottom: 30px;
  font-size: 0.9em;
}
.loginform .hyperlinks{
  color: #1d9bf0;
  text-decoration: none;
}
.loginform .hyperlinks:hover{
  text-decoration: underline;
}
.loginform .logo{
  width: 380px;
  height: auto;
}

.loginform .sex{
  color: white;
}


.flex-container{
  display: flex;
  position: relative;
}

.ContentLeft1 {
  background-color: #212121;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 200px;
}
.ContentLeft1 a.logout{
  width: 200px;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 130px;
  line-height: 40pt;
  text-decoration: none;
}
.ContentLeft1 a.logout:hover{
  color: #FF7F7F;
  background-color: grey;
}

.ContentLeft1 a.language{
  width: 200px;
  position: absolute;
  text-align: center;
  color: white;
  margin-left: 0px;
  line-height: 40pt;
  text-decoration: none;
  bottom: 10px;
  background-color: #1d9bf0;
}
.ContentLeft1 a.language:hover{
  background-color:  #1a8cd8;
}

.ContentLeft1 a.navbtns1{
  width: 200px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 10px;
  line-height: 40pt;
}

.ContentLeft1 a.navbtns1:hover{
 background-color: grey;
}
.ContentLeft1 a.navbtns2{
  width: 200px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 40px;
  line-height: 40pt;
}

.ContentLeft1 a.navbtns2:hover{
 background-color: grey;
}
.ContentLeft1 a.navbtns3{
  width: 200px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 70px;
  line-height: 40pt;
}

.ContentLeft1 a.navbtns3:hover{
 background-color: grey;
}
.ContentLeft1 a.navbtns4{
  width: 200px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 100px;
  line-height: 40pt;
}

.ContentLeft1 a.navbtns4:hover{
 background-color: grey;
}
.ContentLeft1 a.active{
  background-color: grey;
}

.ContentLeft1 p{
  color: #ffffff;
  line-height: 40pt;
  text-decoration: none;
}

.ContentRight1 {
  background-color: #212121;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 200px;
}

.ContentMiddle1 {
  height: 100vh;
  flex-grow: 1;
}

.ContentMiddle1 #comment{
  margin-top: 30px;
  z-index: -1;
  text-align: center;
  height: 80px;
}

.ContentMiddle1 .buttonreset {
  background-color: #212121;
  padding: 10px;
  border: none;
  margin-left: 650px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
}
.ContentMiddle1 .buttonshare {
  background-color: #212121;
  padding: 10px;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
}

.ContentMiddle1 .buttonreset:hover{
  background-color: #333333;
}

.ContentMiddle1 .buttonshare:hover{
  background-color: #333333;
}

.ContentMiddle1 .Upload .btn-primary{
  padding: 10px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #1d9bf0;
  border-radius: 12px;
  cursor: pointer;
}
.ContentMiddle1 .Upload .btn-primary:hover{
  background-color: #1a8cd8;
}
.ContentMiddle1 h1{
  position: absolute;
  color: white;
  top: 42%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.ContentMiddle1 .section{
  height: 90%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}


.dropbtn {
  background-color: #1d9bf0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.ContentMiddle1 .search{
  text-align: center;
}

.ContentMiddle1 .search .searchbar{
  border: 2px solid #2f3336;
  background-color: grey;
  border-style: solid;
  margin-top: 100px;
  border-radius: 4px;
  display: inline-block;
  color: white;
}
.ContentMiddle1 .search .submit{
  background-color: #999999;
  border-radius: 4px;
  border-style: solid;
  border: 2px solid #2f3336;
  color: white;
}
.ContentMiddle1 .search .submit:hover{
  background-color: #565656;
}
.ContentMiddle1 .results{
  text-align: center;
  margin-top: 15px;
}

.ContentMiddle1 .results .search-results{
  display: block;
  margin: auto;
}

.ContentMiddle1 .Profiles .animalname{
  background-color: #212121;
  padding: 4px;
  margin-bottom: 10px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #2f3336;
  color: white;
}
.ContentMiddle1 .Profiles{
  text-align: center;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.ContentMiddle1 .Profiles .textarea{
  background-color: #212121;
  border: 2px solid #2f3336;
  border-radius: 8px;
  color: white;
  resize: none;
  height: 100px;
  width: 400px;
}
.ContentMiddle1 .Profiles .submit{
  border-radius: 4px;
  border: 2px solid #2f3336;
  background-color: #999999;
  color: white;
}
.ContentMiddle1 .Profiles .submit:hover{
  background-color: #565656;
}
.ContentMiddle1 .table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.ContentMiddle1 .tablediv{
  position: fixed;
  color: white;
}

.ContentMiddle1 .table thead tr{
    background-color: #1d9bf0;
    color: #ffffff;
    text-align: center;
}
.ContentMiddle1 .table th, td{
  padding: 6px;
}

.ContentMiddle1 .table tbody tr{
  border-bottom: thin solid #dddddd;
}
.ContentMiddle1 .results .search-results{
  color: white;
  text-decoration: none;
}

.ContentMiddle1 .forms{
  text-align: center;
  margin-top: 20px;
}

.ContentMiddle1 .forms .submitbtn{
  color: white;
  margin: 1px;
  width: 270px;
  background-color: #1d9bf0;
  padding: 14px;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.ContentMiddle1 .chat{
  display: block;
  color: white;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.ContentMiddle1 .chat2{
  display: block;
  color: white;
  height: 700px;
  overflow-y: scroll;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.chatlinks{
  text-decoration: none;
  color:white;
}
.chatlinks:hover{
  text-decoration: underline;
}


.ContentMiddle1 .chat .textareachat{
  resize: none;
  border-radius: 8px;
  width: 800px;
  height: 35px;
}
.tablediv2{
  display: block;
  color: white;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.tablediv2 th{
  text-align: left;
}
.tablediv2 .td2{
  text-align: right;
}
.submitchat{
  background-color: #212121;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.submitchat:hover{
  cursor: pointer;
  background-color: #383838;
}

::-webkit-scrollbar {
  width: 8px;
  background-color:  rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: #1d9bf0;
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: #1d9bf0; 
  -webkit-border-radius: 100px;
}

background: linear-gradient(45deg, white, silver);
min-height: 100%;


